body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
  background-color: #333;
  color: white;
  padding: 20px 0;
  position: relative;
}

h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.back-container {
  cursor: pointer;
  position: absolute;
  left: 300px;
  top: 14px;
  padding: 0;
  border: 3px solid white;
  border-radius: 15px;
  background: none;
}

#main {
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.back-container img {
  height: 80px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.drink-info {
  display: flex;
}

.drink-image img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.add-rating {
  display: flex;
  justify-content: space-between;
}

.rating-wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 0;
}

.rating-wrapper span {
  cursor: pointer;
  transition: color 0.2, transform 0.2s;
  font-size: 30px;
}

.rating-wrapper span:hover {
  color: orange;
  transform: scale(1.3);
}

.rating-wrapper span:hover ~ span {
  color: orange;
}

.rating-star.selected {
  color: orange;
}

.rating-star.selected ~ span {
  color: orange;
}

.drink-details {
  flex-grow: 1;
}

.instruction-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drink-details h2 {
  display: inline-block;
  color: #333;
}

.drink-details ul {
  list-style-type: none;
  padding: 0;
}

.drink-details ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.drink-details ul li img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.ingredient-info {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.recipe {
  margin-top: 20px;
}

.edit-button {
  margin-bottom: 10px;
}

.edit-button button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button button:hover {
  background-color: #0056b3;
}

.comment-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.comment-box h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}

.comment-box p {
  font-size: 16px;
  margin-top: 0;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.comment-header h3 {
  margin: 0;
}

.rating-container {
  display: flex;
  align-items: center;
}

.star {
  color: grey;
  font-size: 20px;
}

.star.selected {
  color: orange;
}

.comment-form {
  margin-top: 20px;
}

.comment-form textarea,
.comment-form button {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
}

.comment-form textarea {
  width: 100%;
  resize: vertical;
  min-height: 80px;
  max-height: 200px;
}

.comment-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .drink-info {
    flex-direction: column;
  }
  .drink-image img {
    width: 100%;
    margin-bottom: 20px;
  }
}
