* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#main-title {
  cursor: pointer;
  text-decoration: underline;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-container {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
}

.form-container form {
  margin-bottom: 15px;
}

.form-container form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-container form input {
  margin-bottom: 15px;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #666;
  border-radius: 3px;
  background-color: #555;
  color: #fff;
}

.error {
  color: #ff8080;
}

.error-margin {
  margin-bottom: 15px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #472dbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #4565a0;
}

p {
  margin-top: 15px;
}

a {
  color: #fff;
}

a:hover {
  color: #ccc;
}